.root {
  grid-row: 12 / 15;
  grid-column: 1 / 5;
  padding-left: 25px;
  padding-top: 25px;
}

.root strong {
  color: #4d4d4f;
  padding-right: 10px;
}

.root span {
  color: #808285;
  font-size: 14px;
}

.row:nth-child(2n) {
  margin-bottom: 10px;
}